<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Signup</title>
  </head>
  <body>
    <form action="/sign_up" method="POST">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social"><i class="fa fa-google"></i></a>
        <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
      </div>
      <input type="email" name="email" placeholder="Email" />
      <input
        type="text"
        name="username"
        placeholder="Username Name"
        maxlength="7"
      />
      <input type="password" name="password1" placeholder="Password" />
      <button>SignUp</button>
    </form>
  </body>
</html>
